@font-face {
  font-family: 'LabGrotesque';
  font-weight: bold;
  font-display: block;
  src: url('LabGrotesqueWeb-Medium.eot'); /* IE9 Compat Modes */
  src: url('LabGrotesqueWeb-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('LabGrotesqueWeb-Medium.woff') format('woff'),
    /* Pretty Modern Browsers */ url('LabGrotesqueWeb-Medium.ttf')
      format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'LabGrotesque';
  font-weight: normal;
  font-display: block;
  src: url('LabGrotesqueWeb-Light.eot'); /* IE9 Compat Modes */
  src: url('LabGrotesqueWeb-Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('LabGrotesqueWeb-Light.woff') format('woff'),
    /* Pretty Modern Browsers */ url('LabGrotesqueWeb-Light.ttf')
      format('truetype'); /* Safari, Android, iOS */
}
